body {
  background-color: rgb(36, 54, 54);
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.week-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.week-tables {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid section input {
  display: block;
}

.week-table {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid rgb(18, 27, 27);;
  border-radius: 1rem;
  flex-basis: 400px;
  flex-grow: 1;
}

.week-title {
  text-align: center;
}

