body {
  background-color: rgb(36, 54, 54);
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

.week-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.week-tables {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.grid section input {
  display: block;
}

.week-table {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid rgb(18, 27, 27);;
  border-radius: 1rem;
  flex-basis: 400px;
  flex-grow: 1;
}

.week-title {
  text-align: center;
}

.saturday h3, .sunday h3 {
  color: rgb(197, 97, 97);
}

.add-week-section {
  display: flex;
  align-items: center;
  width: fit-content; 
  margin: 2rem auto;
}

.add-week-input-section {
  display: flex;
  flex-direction: column;
}

.add-week-section button {
  margin-right: 2rem;
}

.add-week-section span {
  margin-left: 2rem;
}

.add-week-input-section div {
  display: flex;
  align-items: center;
}

.add-week-input-section div label {
  text-align: end;
  width: 50px;
  margin-right: 5px;
}

.add-week-input-section input {
  margin-left: 1rem;
  width: 50px;
}